@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Quicksand:400);

@layer base {
    html {
      font-family: 'Quicksand', sans-serif;
      user-select: none;
      overflow: hidden;
      
    }

    .calc {
      height: 575px;
      width: 360px;
    }

    .numpad {
      color: #000!important;
    }

  }